<!Doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assests/css/bootstrap.min.css">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS,  scroll    -->

    <script src="assests/js/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--scroll  -->


    <link rel="stylesheet" type="text/css" href="assests/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assests/css/media-query.css" />
    <title>منصة مربعات التعليمية</title>
</head>

<body>


    <!-- start container nav -->
    <div class="container">
        <nav id="navbar" class="navbar  fixed-top navbar-expand-md navbar-light  navbar-right mt-0 ">
            <!--  navbar-expand-md مهم لعرض مكونات المنيو في الشاشات الكبيرة والمتوسطة-->
            <!--navbar-light مهن لعرض اقونة  البرقر في الشاشات الصغيرة -->
            <!-- bg-light للخلفية الرمادي بدل الديفولت سوداء     / navbar-right اتجاه المنيو-->

            <a class="navbar-brand" href="#">
                <img class="img-responsive" src="assests/imges/human-resources.png ">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <!-- burger icon only in mobil   -->

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> الرئيسية
                        </a>
                    </li>
                    <!-- in <svg>  you can change color   fill="currentColor"    fill="#e63916"   currentColor mains baisk color of div -->
                    <li class="nav-item ">
                        <a class="nav-link" href="pages/jobs.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> الوظائف
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="pages/our_serveces.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i>خدماتنا
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="pages/our_parteners.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> شركاءنا
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages/about_us.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> من نحن </a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="pages/contuct_us.html"><i class='material-icons  float-right  &#xf0c8;' style='background-color: #FCC01A;'></i> تواصل معنا </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="pages/login.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> تسجيل الدخول
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="pages/register.html"> <i class="material-icons float-right  &#xf0c8;" style='background-color: #FCC01A;'></i> انشاء حساب
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assests/imges/boy.png " alt="mdo " width="32 " height="32 " class="rounded-circle ">
                        </a>
                        <ul class="dropdown-menu bg-light  ">
                            <li><a class="dropdown-item text-dark " href="pages/main-dashboard.html">الصفحة الشخصية</a></li>
                            <li>
                                <a class="dropdown-item text-dark " href="pages/my_cv.html">سيرتي الذاتية</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider ">
                            </li>
                            <li>
                                <!-- تبرمج لدعم لغتين -->
                                <a class=" dropdown-item text-dark " id="Language " ype="submit "> English</a>
                            </li>
                            <li><a class="dropdown-item text-dark" href="index.html">خروج</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
    </div>

    <!-- start container slider-->
    <section class="container">


        <div id="carouselExampleControls " class="carousel slide " data-bs-ride="carousel ">
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <img src="assests/imges/slider1.svg " class="d-block w-100 h-25 img-fluid " alt="... ">
                </div>
                <div class="carousel-item ">
                    <img src="assests/imges/slider2.svg " class="d-block w-100 h-25 img-fluid " alt="... ">
                </div>
                <div class="carousel-item ">
                    <img src="assests/imges/slider3.svg " class="d-block w-100 h-25 img-fluid " alt="... ">
                </div>
            </div>
            <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="prev ">
                        <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                        <span class="visually-hidden ">Previous</span>
                    </button>
            <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="next ">
                        <span class="carousel-control-next-icon " aria-hidden="true "></span>
                        <span class="visually-hidden ">Next</span>
                    </button>
        </div>

    </section>




    <div class="container-fluid ">
        <div class="grad mr-auto ">

        </div>
    </div>
    <!-- end container slider-->



    <!-- start container slider-->
    <section id="slider " class="container-fluid ">
        <!-- Slideshow container -->

        <h4 class="right ">ابرز الوضائف </h4>
        <h4 class="seeall "> <a href="# ">عرض الكل</a> </h4>

        <div id="carouselExampleIndicators " class="carousel slide " data-bs-ride="carousel ">
            <div class="carousel-indicators ">
                <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="0 " class="active " aria-current="true " aria-label="Slide 1 "></button>
                <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="1 " aria-label="Slide 2 "></button>
                <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="2 " aria-label="Slide 3 "></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active ">

                    <div class="carousel-item ">

                        <d iv class="carousel-item ">

                    </div>
                </div>
                <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="prev ">
                    <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                    <span class="visually-hidden ">Previous</span>
                </button>
                <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="next ">
                    <span class="carousel-control-next-icon " aria-hidden="true "></span>
                    <span class="visually-hidden ">Next</span>
                </button>
            </div>

    </section>
    <!-- end container slider -->
    <div class="container-fluid ">
        <div class="grad mr-auto ">

        </div>
    </div>
    <!-- start container track & edu -->

    <section class="container-fluid ">

        <div class="row ">
            <!-- start of edu -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-12 ">
                <div class="col ">
                    <h4 class="right "> الشركات</h4>
                    <h4 class="seeall "> <a href="# ">عرض الكل</a> </h4>

                </div>

                <div class="row ">
                    <div class="col "> <img src="assests/imges/company1.jpg " alt="Los Angeles " class=" img-fluid rounded "></div>
                    <div class="col "> <img src="assests/imges/company2.jpg " alt="Los Angeles " class="img-fluid rounded "></div>
                    <div class="col "><img src="assests/imges/company3.png " alt="Los Angeles " class="img-fluid rounded "></div>
                    <div class="col "> <img src="assests/imges/company4.png " alt="Los Angeles " class="img-fluid rounded "></div>
                </div>
                <div class="row ">
                    <div class="col "> <img src="assests/imges/company4.png " alt="Los Angeles " class="img-fluid rounded "></div>
                    <div class="col "> <img src="assests/imges/company4.png " alt="Los Angeles " class="img-fluid rounded "></div>
                    <div class="col "> <img src="assests/imges/company4.png " alt="Los Angeles " class="img-fluid rounded "></div>
                    <div class="col "> <img src="assests/imges/company1.jpg " alt="Los Angeles " class=" img-fluid rounded "></div>
                </div>

            </div>


            <!-- end  of edu-->

            <!-- start  of track -->
            <div class=" col-lg-3  col-12 ">
                <div class="col ">
                    <h4 class="right "> اعلانات</h4>
                    <h4 class="seeall "> <a href="# ">عرض الكل</a> </h4>
                </div>
                <div class="col "> <img src="assests/imges/undraw_collaborators_re_hont.svg " alt="Los Angeles " class="img-fluid rounded "></div>
                <div class="col "> <img src="assests/imges/undraw_percentages_re_a1ao.svg " alt="Los Angeles " class="img-fluid rounded "></div>
                <div class="col "> <img src="assests/imges/wait.svg " alt="Los Angeles " class="img-fluid rounded "></div>




                <!-- end  of track -->
            </div>
        </div>
        <!-- end  of row-->
    </section>
    <!-- end </section> track & edu -->



    <footer class="container-fluid ">
        <div class="row ">

            <div class=" col-md-4 ">
                <a href="#home "><img class="mb-2 " src="assests/imges/human-resources.png " alt=" "></a>
                <small class="d-block mb-3 text-muted ">©2022</small>
            </div>
            <div class=" col-md-4 ">
                <h5>التواصل الإجتماعي</h5>


                <a href="# "><img src="assests/imges/facebook.png " class="callUs " alt="facebook " height="20px " width="20px; "></a>
                <a href="# "><img src="assests/imges/inestgram.png " class="callUs " alt="inestgram " height="10px " width="10px; "></a>
                <a href="# "><img src="assests/imges/twiter.png " class="callUs " alt="twiter " height="10px " width="10px; "></a>


            </div>
            <div class="col-md-4 ">

                <h5>انظم الى نشرتنا البريدية</h5>
                <div class="send ">
                    <input type="email " name="email " placeholder="ادخل بريدك الإلكتروني ">
                    <svg class="email-icon " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 24 24 " width="24 " height="24 ">
                                        <path fill="none " d="M0 0h24v24H0z " />
                                        <path
                                            d="M18 8h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2V7a6 6 0 1 1 12 0v1zm-7 7.732V18h2v-2.268a2 2 0 1 0-2 0zM16 8V7a4 4 0 1 0-8 0v1h8z " />
                                    </svg>
                    <button type="submit " name="submit "> اشتراك</button>



                </div>

            </div>

        </div>
        <div class="grad ">

        </div>
        <a href="index.html "> <span class="EnasHR ">EnasHR-Ye</span></a>
    </footer>

</body>


</html>